body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #0078c9;
  color: #fff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 10%;
  width: 150px; /* Adjust the width as needed */
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

main {
  display: flex;
  justify-content: center; /* Align boxes to the center horizontally */
  flex-wrap: wrap; /* Allow boxes to wrap to the next line */
  margin-top: 20px;

}

.box {
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: calc(20% - 20px);
  height: 80px; /* Set the height of the box */
  margin: 10px; /* Add margin to create space between boxes */
}

.box-content {
  display: flex;
  align-items: center;
  justify-content: center; /* Center horizontally */
  height: 100%; /* Fill the entire height of the box */
}

.text {
  font-size: 14px; /* Set font size */
  text-align: center; /* Center text horizontally */
  padding: 5px; /* Add padding */
}

.text h2 {
  margin: 0;
  font-size: inherit; /* Inherit font size */
}

.text p {
  margin: 0;
  font-size: 12px; /* Set font size */
  font-weight: bold;
}

.box:not(:last-child) {
  margin-right: 20px; /* Add margin between boxes */
}

.box:nth-child(1) {
  background-color: #FF6347; /* Tomato */
}

.box:nth-child(2) {
  background-color: #87CEEB; /* Sky Blue */
}

.box:nth-child(3) {
  background-color: #98FB98; /* Pale Green */
}

.box:nth-child(4) {
  background-color: #FFD700; /* Gold */
}

.box h2 {
  margin-top: 0;
}

.box p {
  margin: 0;
}

.large-box {
  width: calc(40% - 20px); /* Adjust the width to half of the container */
  height: auto; /* Let the height be determined by content */
  padding: 3%;
}
